footer {
  background-color: #222222;
  h4 {
    color: white;
  }
  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
      color: white;
      a {
        color: red !important;
      }
    }
  }
}

span {
  padding: 0;
}
.gallery-collection {
  display: flex;
  flex-wrap: wrap;
  a {
    display: block;
    position: relative;
    width: calc((100% - 50px) / 4);
    margin-right: 10px;
    margin-bottom: 10px;
    img{
        width: 100%;
    }
  }
}
