.bg-intro {
  background-image: url(../../assets/bg-intro-01.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.section-heading{
    text-align: center;
    color: white;
    h2{
        color: white !important;
    }
}